# Heading1
## heading2
### heading3
#### heading4
##### heading5
###### heading6

- Hi,I am srivalli
    - welcome to day2 workshop
        - Introduction to data
            - what is data?
- welocome to ~**data analysis**~ workshop  
<img src="https://image.shutterstock.com/image-vector/vector-emoji-smiling-face-smile-260nw-1271016607.jpg" height=100px width=100px>

[nec](https://www.nrtec.in/)

## File
- open(filename,modes)                        modes are-r,w,a(read overrides data but append add data to end without overriding previous data
- read()                                        
- write()
- readline()
- close()

In [5]:
f1=open("data.txt",'w')
data="welcome to narasaraopeta engineering college"
f1.write(data)
f1.close()

In [6]:
f1=open("data.txt","r")
d=f1.read()
print(d)

welcome to narasaraopeta engineering college

In [7]:
f1=open("data.txt","w")
s="apssdc"
f1.write(s)
f1.close()

In [9]:
f1=open("data.txt","a")
s="\ndata analysis workshop"
f1.write(s)
f1.close()

In [13]:
f2=open("marks.txt","r")
d=f2.read()
print(d)

ravi 70 80 90 100
anil 80 60 90 100

In [22]:
f=open("marks.txt","r")
d=f.readlines()
print(d)
for i in d:
    words=i.split()
    print(words[0],int(words[1])+int(words[2])+int(words[3])+int(words[4]))

['ravi 70 80 90 100\n', 'anil 80 60 90 100']
ravi 340
anil 330

In [38]:
f=open("marks.txt","r")
f2=open("totalmarks.txt","w")
d=f.readlines()
print(d)
for i in d:
    words=i.split()
    name=words[0]
    total=sum(list(map(int,words[1:])))
    print(name,total)
    f2.write(name+str(total))
f2.close()

['ravi 70 80 90 100\n', 'anil 80 60 90 100']
ravi 340
anil 330

## Regular Expressions

In [1]:
import re

In [3]:
a="kavya"
re.match('k',a)

In [35]:
a="kavya6"
re.search('6',a)

In [7]:
a="sudha"
re.findall('d',a)

['d']

In [8]:
a="anjali"
re.findall('li',a)

['li']

In [9]:
a="anjali"
re.findall('l ',a)

[]

In [10]:
a="kavya"
re.search('^k',a)

In [11]:
a="anjali"
re.search('i$',a)

In [13]:
a="kavya566"
re.search('...',a)

In [22]:
a="kavya"
re.search(".a",a)

In [23]:
a=["mehziya","navya","naga","kavya","sudha"]
for i in a:
    print(i)

mehziya
navya
naga
kavya
sudha

In [25]:
a=["mehziya","navya","naga","kavya","sudha"]
for i in a:
    if re.search('.{5}',i):
        print(i)

mehziya
navya
kavya
sudha

In [29]:
a=["mehziya","navya","naga","kavya","sudha"]
for i in a:
    if re.search('^.{4}$',i):
        print(i)

naga

In [34]:
a=["mehziya","navya","naga","kavya","sudha"]
for i in a:
    if re.search('^.{4,6}a$',i):
        print(i)

mehziya
navya
kavya
sudha

In [40]:
a="kavya56"
re.search('\d',a)

In [41]:
a="kavya566@#$%"
re.search('\W+',a)

In [64]:
a=['kavya','78','89','sudha','67','90']
s=0
for i in a:
    if re.findall('\d..',i):
        s+=int(i)
print(s)

0

In [78]:
f=open('totalmarks.txt','r')
a=f.read()
b=re.findall('\d..',a)
print(b)
s=0
for i in b:
    s+=int(i)
print(s)

['340', '330', '120', '60 ']
850